body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: #234;
    color: #f2f2f2;
}

h1 {    text-align: center;
    font-weight: normal;
    font-size: 3em;
    font-style: italic;
}

.carrito {
    border: 3px solid;
    padding: 20px;
    margin: 20px;
}

.carrito footer {
    background-color: #f3f3f3;
    color: #111;
    padding: .8em;
}

h2 {
    font-family: Verdana, Geneva, sans-serif;
    text-decoration: underline;
}

.articulo {
    background-color: #123;
    padding: 20px;
    margin-bottom: 20px;
    color: paleturquoise;
}
